# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# next
.next
out
build

# env / local
.env
.env.*
!.env.example
.vercel
.pgdata
nursing-demo-pglite

# misc
.git
.gitignore
*.md
coverage
.DS_Store
*.tsbuildinfo
